@import 'var';
@import 'fonts';

.section__call {
    background: $maincolor;
}
.container {
}
.call__body {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.call__title {
    font-family: "Roboto-Medium";
    font-size: 24px;
    line-height: 24px;
}
.call__text {
    max-width: 280px;
    text-align: center;
} 
.call__paragraph {
    margin: 10px 0 40px 0;
    font-family: "Roboto-Light";
    font-size: 16px;
    line-height: 18px;
}
.call__link {
    color: $maincolor;
    background: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Roboto-Medium";
    padding: 16px;
    display: inline-block;
    transition: all 0.2s ease 0s;
    &:hover {
        background: $maincolor;
        color: #fff;
        transition: all 0.2s ease 0s;
    }
}

@media (min-width: 640px) {
    .call__text {
        max-width: 580px; 
    }
    .call__link {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .call__body {
        flex-direction: row;
        padding: 60px 0 0 0;
        .call__link {
            margin: 0 0 45px 55px;
        }
        .call__text {
            text-align: left;
            width: 427px;
        }
    }
}

@media (min-width: 1024px) {
    .call__body {
        justify-content: space-between;
        width: 940px;
        margin: 0 auto;
    }
    .call__title {
        font-style: 18px;
    }
    .call__paragraph {
        font-size: 14px;
    }
}
@media (min-width: 1440px) {
    .call__body {
        padding: 0;
        height: 192px;
        align-items: center;
    }
    .call__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .call__link {
        margin: 0 !important;
    }
}