@import 'var';
@import 'fonts';

.section__slider {
}
.container {
}
.slider__body {
    background-image: url('../img/bgSlider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 193px;
    & .slick-track {
        display: flex;
    }
    & .slick-dots {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 63px 0 0 0;
        & button {
            font-size: 0;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            background: $maincolor;
            border: none;
        }
        & .slick-active button {
            background: transparent;
            border: 1px solid $dotscolor;
            transition: all 0.5s ease 0s;
        }
    }
}
.slick-dots .slick-active button {
    background: $dotscolor;
}
.slider__title {
    font-family: "RobotoCondensed-Regular";
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    margin: 36px 0 0 0;
}
.slider__pre-slider {
    display: none;
}
.slider__item {
    display: flex;
    flex-direction: column;
}
.slider__link {
    text-transform: uppercase;
    font-family: 'Roboto-Light';
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    display: none;
    background: $maincolor;
    padding: 16px 45px;
    border-radius: 3px;
}
.slider__line {
    width: 60px;
    height: 8px;
    background: $gray;
    margin: 0 auto;
    display: none;
}

@media (min-width: 640px) {
    .slider__body {
        position: relative;
        height: 386px;
        & .slick-arrow {
            width: 56px;
            height: 56px;
            font-size: 0;
            position: absolute;
            right: 0;
            z-index: 99;
        }
        & .slick-prev {
            top: 36%;
            background: $maincolor;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 14px;
                height: 2px;
                background: #fff;
            }
            &::before {
                top: 41%;
                left: 40%;
                transform: rotate(45deg);
            }
            &::after{
                left: 40%;
                bottom: 41%;
                transform: rotate(-45deg);
            }
        }
        & .slick-next {
            background: #fff;
            bottom: 36%;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 14px;
                height: 2px;
                background: $maincolor;
            }
            &::before {
                top: 41%;
                left: 40%;
                transform: rotate(-45deg);
            }
            &::after{
                left: 40%;
                bottom: 41%;
                transform: rotate(45deg);
            }
        }
    }
    .slider__title {
        font-size: 60px;
        line-height: 60px;
    }
    .slider__line {
        display: block;
        margin: 7px auto 30px auto;
    }
    .slider__link {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .slider__line {
        display: none;
    }
    .slider__pre-slider {
        display: block;
        width: 587px;
        font-family: 'RobotoCondensed-Regular';
        font-size: 18px;
        line-height: 111%;
        text-align: center;
        color: #FFFFFF;
        margin: 25px auto 32px auto;
    }
    .slider__body {
        height: 465px;
    }
    .slider__title {
        margin: 87px 0 0 0;
    }
    .slick-prev {
        top: 38% !important;
    }
    .slick-next {
        bottom: 38% !important;
    }
}

@media (min-width: 1024px) {
    .slider__body {
        height: 618px;
    }
    .slider__title {
        margin: 101px 0 0 0;
        font-size: 84px;
        line-height: 84px;
    }
    .slick-dots {
        margin: 112px 0 0 0 !important;
    }
    .slick-prev {
        top: 41% !important;
    }
    .slick-next {
        bottom: 41% !important;
    }
}

@media (min-width: 1440px) {
    .slider__title {
        font-size: 96px;
        line-height: 100%;
    }
    .slider__pre-slider {
        font-size: 24px;
        line-height: 26px;
        width: 886px;
    }
    .slider__body {
        height: 668px;
        & .slick-dots {
            & button {
                background: #fff;
            }
            & .slick-active button {
                border: 1px solid #fff;
            }
        }
    }
}