@import 'var';
@import 'fonts';

.section__team {
}
.container {
}
.team__body {
}
.team__img {
    width: 280px;
    margin: 0 auto;
    display: block;
}
.team__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__title {
    font-family: "RobotoCondensed-Regular";
    font-size: 24px;
    line-height: 38px;  
    text-align: center;
    margin: 40px 0 20px 0;
}
.team__line {
    position: relative;
    background: $maincolor;
    width: 100px;
    height: 8px;
    margin: 0 0 23px 0;
}
.team__description {
    font-family: 'Roboto-Light';
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: $gray2;
    width: 280px;
    margin: 0 auto 84px auto;
}
.team__link {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 18px;
    color: $btncolor;
    background: $maincolor;
    font-family: 'Roboto-Medium';
    padding: 21px 26px;
    border-radius: 3px;
}

@media (min-width: 640px) {
    .team__body {
        padding: 40px 0 0 0;
        margin: 0 auto;
    }
    .section__team img {
        width: 520px;
    }
    .team__title {
        font-size: 36px;
        line-height: 38px;
    }
    .team__description {
        width: auto;
        text-align: left;
    }
}
@media (min-width: 768px) {
    .section__team img {
        width: 240px;
    }
    .team__body {
        display: flex;
        width: 700px;
        margin: 0 auto;
    }
    .team__description {
        width: auto;
        margin: 0 0 21px 0;
    }
    .team__text {
        margin: 0 0 0 34px;
    }
    .team__text {
        align-items: flex-start;
    }
    .team__link {
        margin: 0 0 0 -70px;
    }
}
@media (min-width: 1024px) {
    .team__body {
        width: 986px;
    }
    .team__link {
        margin: 0;
    }
    .section__team img {
        width: 395px;
    }
    .team__text {
        margin: 0 0 0 60px;
    }
    .team__description {
        font-size: 18px;
        line-height: 133%;
    }
    .team__title {
        font-size: 48px;
        line-height: 56px;
        margin: 40px 0 15px 0;
    }
    .team__line {
        margin: 0 0 19px 0;
    }
    .team__link {
        font-size: 18px;
    }
}